p{
    color: rgb(112, 181, 47);
    background-color: azure;
    height: 100px;
    width: 1000px;
    border: 5px blue solid;
}
body{
    background-image: url(bird.webp);
    background-repeat: no-repeat; 
    /* background-repeat: repeat-y;
    background-repeat: repeat-x; */
   /* background-size:cover; */
    background-size:100% 100%; 
   /* background-attachment:scroll; */
     background-attachment: fixed;  
}
